p{
    font-family: Varela Round;
    margin-top: 0px;
    margin-bottom: 0px;
   }
   .title{
    font-size: 20px;
    font-weight: 700;

   }
   .subtitle{
    font-size: 15px;
    color: grey;
    margin-bottom: 20px;
   }

   .description{
    width: 280px;
    margin-bottom: 20px;

   }
   .button-get-started{
    background-color:green;
    border: none;
    font-family: Varela Round;
    color: white;
    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 03px;
    cursor: pointer;
   }
   .button-get-started:hover{
    box-shadow: 3px 3px 5px rgb(0, 0, 0,0.3);

   }

    .button-get-started:active{
        margin-left: 3px;
        margin-top: 3px;
        box-shadow: none;
       

    }